body
    background-color: #2c1f00
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    overflow: hidden
    
    
*,
*:before,
*:after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6, p
    margin: 0
    padding: 0
    
.nav
    width: 100%
    .link
        display: block
        text-align: center
        padding: 30px 0
        color: #fff
        text-decoration: none
        font-weight: 700
        font-size: 50px
        font-family: sans-serif
        transition: .4s ease
        position: relative
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-image: url(https://media.giphy.com/media/TyQY0zTXX4x0c/giphy.gif)
        background-position: center 
        &:before
            content: ''
            width: 50%
            height: 3px
            background-image: url(https://media.giphy.com/media/TyQY0zTXX4x0c/giphy.gif)
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            position: absolute
            top: 50%
            left: -100%
            transform: translateY(-50%)
            transition: .4s ease
        &:after
            content: ''
            width: 50%
            height: 3px
            background-image: url(https://media.giphy.com/media/TyQY0zTXX4x0c/giphy.gif)
            background-position: center
            position: absolute
            top: 50%
            right: -100%
            transform: translateY(-50%)
            transition: .4s ease
            background-repeat: no-repeat
            background-size: cover
        &:hover
            background-color: rgba(80, 56, 0, 0.35)
            &:before
                left: -5%
            &:after
                right: -5%
    
